In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2021-11-28 15:07:30,38.4210,-121.4238,59.50,96,1,0.00
1,1,Butaritari,KI,2021-11-28 15:08:16,3.0707,172.7902,81.14,80,76,13.31
2,2,Mataura,NZ,2021-11-28 15:08:16,-46.1927,168.8643,40.14,98,83,1.32
3,3,Narsaq,GL,2021-11-28 15:08:16,60.9167,-46.0500,35.82,99,100,5.88
4,4,Kieta,PG,2021-11-28 15:08:17,-6.2167,155.6333,79.66,82,100,1.12

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))
    
# [max(temp,0) for temp in max_temp]

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] <= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2021-11-28 15:07:30,38.4210,-121.4238,59.50,96,1,0.00
2,2,Mataura,NZ,2021-11-28 15:08:16,-46.1927,168.8643,40.14,98,83,1.32
3,3,Narsaq,GL,2021-11-28 15:08:16,60.9167,-46.0500,35.82,99,100,5.88
7,7,Timmins,CA,2021-11-28 15:08:18,48.4669,-81.3331,19.81,89,100,4.59
9,9,Ushuaia,AR,2021-11-28 15:08:19,-54.8000,-68.3000,45.61,80,99,12.82
12,12,Cremona,IT,2021-11-28 15:08:19,45.2333,9.9333,46.98,82,42,9.10
13,13,Upernavik,GL,2021-11-28 15:08:20,72.7868,-56.1549,-7.31,71,2,7.72
14,14,Tangshan,CN,2021-11-28 15:08:20,39.6333,118.1833,43.88,80,9,3.76
15,15,Jamestown,US,2021-11-28 15:08:06,42.0970,-79.2353,34.92,93,90,6.91
16,16,Saldanha,ZA,2021-11-28 15:08:21,-33.0117,17.9442,65.86,79,61,9.44

In [22]:
preferred_cities_df.count()

City_ID       391
City          391
Country       389
Date          391
Lat           391
Lng           391
Max Temp      391
Humidity      391
Cloudiness    391
Wind Speed    391
dtype: int64

In [21]:
# Create DataFram called hotel_df to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0      Laguna      US     59.50  38.4210 -121.4238
2     Mataura      NZ     40.14 -46.1927  168.8643
3      Narsaq      GL     35.82  60.9167  -46.0500
7     Timmins      CA     19.81  48.4669  -81.3331
9     Ushuaia      AR     45.61 -54.8000  -68.3000
12    Cremona      IT     46.98  45.2333    9.9333
13  Upernavik      GL     -7.31  72.7868  -56.1549
14   Tangshan      CN     43.88  39.6333  118.1833
15  Jamestown      US     34.92  42.0970  -79.2353
16   Saldanha      ZA     65.86 -33.0117   17.9442

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Laguna,US,59.50,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,Mataura,NZ,40.14,-46.1927,168.8643,Ellie's Villa
3,Narsaq,GL,35.82,60.9167,-46.0500,Sleep In Narsaq
7,Timmins,CA,19.81,48.4669,-81.3331,The Senator Hotel & Conference Centre
9,Ushuaia,AR,45.61,-54.8000,-68.3000,Albatros Hotel
12,Cremona,IT,46.98,45.2333,9.9333,Pensione S.Giorgio
13,Upernavik,GL,-7.31,72.7868,-56.1549,Gina's Guesthouse - Upernavik
14,Tangshan,CN,43.88,39.6333,118.1833,Civil Affairs Hotel
15,Jamestown,US,34.92,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,Saldanha,ZA,65.86,-33.0117,17.9442,Blue Bay Lodge

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
             max_intensity=300, point_radius=7)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False,
             max_intensity=300, point_radius=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))