In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2021-11-28 15:07:30,38.4210,-121.4238,59.50,96,1,0.00
1,1,Butaritari,KI,2021-11-28 15:08:16,3.0707,172.7902,81.14,80,76,13.31
2,2,Mataura,NZ,2021-11-28 15:08:16,-46.1927,168.8643,40.14,98,83,1.32
3,3,Narsaq,GL,2021-11-28 15:08:16,60.9167,-46.0500,35.82,99,100,5.88
4,4,Kieta,PG,2021-11-28 15:08:17,-6.2167,155.6333,79.66,82,100,1.12

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))
    
# [max(temp,0) for temp in max_temp]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] <= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2021-11-28 15:07:30,38.4210,-121.4238,59.50,96,1,0.00
2,2,Mataura,NZ,2021-11-28 15:08:16,-46.1927,168.8643,40.14,98,83,1.32
3,3,Narsaq,GL,2021-11-28 15:08:16,60.9167,-46.0500,35.82,99,100,5.88
7,7,Timmins,CA,2021-11-28 15:08:18,48.4669,-81.3331,19.81,89,100,4.59
9,9,Ushuaia,AR,2021-11-28 15:08:19,-54.8000,-68.3000,45.61,80,99,12.82
12,12,Cremona,IT,2021-11-28 15:08:19,45.2333,9.9333,46.98,82,42,9.10
13,13,Upernavik,GL,2021-11-28 15:08:20,72.7868,-56.1549,-7.31,71,2,7.72
14,14,Tangshan,CN,2021-11-28 15:08:20,39.6333,118.1833,43.88,80,9,3.76
15,15,Jamestown,US,2021-11-28 15:08:06,42.0970,-79.2353,34.92,93,90,6.91
16,16,Saldanha,ZA,2021-11-28 15:08:21,-33.0117,17.9442,65.86,79,61,9.44

In [12]:
preferred_cities_df.count()

City_ID       391
City          391
Country       389
Date          391
Lat           391
Lng           391
Max Temp      391
Humidity      391
Cloudiness    391
Wind Speed    391
dtype: int64

In [13]:
# Create DataFram called hotel_df to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0      Laguna      US     59.50  38.4210 -121.4238
2     Mataura      NZ     40.14 -46.1927  168.8643
3      Narsaq      GL     35.82  60.9167  -46.0500
7     Timmins      CA     19.81  48.4669  -81.3331
9     Ushuaia      AR     45.61 -54.8000  -68.3000
12    Cremona      IT     46.98  45.2333    9.9333
13  Upernavik      GL     -7.31  72.7868  -56.1549
14   Tangshan      CN     43.88  39.6333  118.1833
15  Jamestown      US     34.92  42.0970  -79.2353
16   Saldanha      ZA     65.86 -33.0117   17.9442

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)
hotel_df.count()
hotel2_df = hotel_df.dropna()
hotel2_df.info()
hotel2_df.head(50)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389 entries, 0 to 563
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        389 non-null    object
 1   Country     389 non-null    object
 2   Max Temp    389 non-null    float64
 3   Lat         389 non-null    float64
 4   Lng         389 non-null    float64
 5   Hotel Name  389 non-null    object
dtypes: float64(3), object(3)
memory usage: 21.3+ KB

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Laguna,US,59.50,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,Mataura,NZ,40.14,-46.1927,168.8643,Ellie's Villa
3,Narsaq,GL,35.82,60.9167,-46.0500,Sleep In Narsaq
7,Timmins,CA,19.81,48.4669,-81.3331,The Senator Hotel & Conference Centre
9,Ushuaia,AR,45.61,-54.8000,-68.3000,Albatros Hotel
12,Cremona,IT,46.98,45.2333,9.9333,Pensione S.Giorgio
13,Upernavik,GL,-7.31,72.7868,-56.1549,Gina's Guesthouse - Upernavik
14,Tangshan,CN,43.88,39.6333,118.1833,Civil Affairs Hotel
15,Jamestown,US,34.92,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,Saldanha,ZA,65.86,-33.0117,17.9442,Blue Bay Lodge
18,Sitka,US,33.69,57.0531,-135.3300,Westmark Sitka
19,East London,ZA,74.41,-33.0153,27.9116,Tu Casa
20,Hofn,IS,26.62,64.2539,-15.2082,Hótel Höfn
23,Deputatskiy,RU,-11.79,69.3000,139.9000,Baza Otdykha
25,Avarua,CK,68.05,-21.2078,-159.7750,Paradise Inn
26,Busselton,AU,60.15,-33.6500,115.3333,Observatory Guest House
27,Yerbogachen,RU,-3.19,61.2767,108.0108,
29,Cape Town,ZA,68.41,-33.9258,18.4232,Southern Sun Waterfront Cape Town
30,Hay River,CA,13.96,60.8156,-115.7999,Ptarmigan Inn
31,Tuktoyaktuk,CA,-5.35,69.4541,-133.0374,End of The Road Ltd.
33,Longyearbyen,SJ,10.24,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
34,Hilo,US,71.33,19.7297,-155.0900,Hilo Hawaiian Hotel
35,Luocheng,CN,55.42,29.3848,104.0286,Luocheng Hotel
36,Kruisfontein,ZA,70.61,-34.0033,24.7314,Oyster Bay House Rental
37,Khrebtovaya,RU,15.66,56.7032,104.2494,
39,Ponta Do Sol,PT,66.83,32.6667,-17.1000,Hotel do Campo
40,Tasiilaq,GL,26.76,65.6145,-37.6368,The Red House
41,Barrow,US,-9.38,71.2906,-156.7887,King Eider Inn
42,Punta Arenas,CL,53.71,-53.1500,-70.9167,Hotel Dreams Del Estrecho
43,Dawlatabad,AF,53.65,36.4141,64.9053,WASIM ASGAR KHAN
44,Yellowknife,CA,9.27,62.4560,-114.3525,The Explorer Hotel
45,Bethel,US,34.38,41.3712,-73.4140,Courtyard by Marriott Danbury
48,Nuristan,AF,21.69,35.3000,70.8333,لَکچُک هوټل
49,Fortuna,US,50.34,40.5982,-124.1573,Super 8 by Wyndham Fortuna
50,Tabory,RU,20.05,58.5198,64.5495,
52,College,US,-16.94,64.8569,-147.8028,Pike's Waterfront Lodge
53,New Norfolk,AU,51.30,-42.7826,147.0587,The Shingles Riverside Cottages
54,Albany,US,28.81,42.6001,-73.9662,
56,Nome,US,-18.33,64.5011,-165.4064,Dredge 7 Inn
58,La Ronge,CA,15.80,55.1001,-105.2842,Northland Motor Hotel
59,Puerto Baquerizo Moreno,EC,68.95,-0.9000,-89.6000,Hotel los Algarrobos
61,Aygehovit,AM,52.27,40.9795,45.2503,
62,Olafsvik,IS,42.24,64.8945,-23.7142,Hotel Olafsvik
63,Grindavik,IS,41.47,63.8424,-22.4338,Northern Light Inn & Max's Restaurant
64,Ixtapa,MX,70.83,20.7000,-105.2000,Hotel Plaza Providencia
65,Kihei,US,72.66,20.7850,-156.4656,Maui Sunset
66,Victoria,HK,69.85,22.2855,114.1577,Mini Hotel Central
67,Kenai,US,3.25,60.5544,-151.2583,Aspen Extended Stay Suites
68,Qaanaaq,GL,-8.30,77.4840,-69.3632,Qaanaaq Hotel
69,Neepawa,CA,15.31,50.2289,-99.4664,"Westway Inn Motel, Neepawa"

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
             max_intensity=300, point_radius=7)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(25.0, 25.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False,
             max_intensity=300, point_radius=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))